/* Create two equal columns that floats next to each other */
.container {
    display: flex;
    flex-grow: 1;
    /*height: 484px;*/
}

.column {
    flex: 1 auto;
    float: left;
    flex-grow: 1;
    width: 50%;
    padding: 10px;
    overflow-y: scroll;
    -moz-user-select: none;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
